fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
email-validator
alembic
python-jose
bcrypt
psycopg[binary]
pgvector
python-multipart
python-dotenv
langchain
langchain-community
langchain-core
langchain-ollama
langchain-postgres
langchain-text-splitters
pypdf
